# P_AIn

Cfg_Desc:
Cfg_Label:
Cfg_Tag:
Cfg_Area:
Cfg_EU:
Cfg_InpRawMin:
Cfg_InpRawMax:
Cfg_PVEUMin:
Cfg_PVEUMax:
Cfg_HasMoreObj:
Cfg_PVDecPlcs:
Cfg_FiltTC:
Cfg_HiHiLim:
Cfg_HiHiDB:
Cfg_HiLim:
Cfg_HiDB:
Cfg_LoLim:
Cfg_LoDB:
Cfg_LoLoLim:
Cfg_LoLoDB:
Cfg_FailHiLim:
Cfg_FailLoLim:
Cfg_FailDB:
Cfg_NoSubstPV:
Cfg_HasChanObj:
Cfg_UseChanSrcQ:
HiHi.Cfg_Exists:
HiHi.Cfg_ResetReqd:
HiHi.Cfg_AckReqd:
HiHi.Cfg_Severity:
HiHiGate.Cfg_OnDly:
HiHiGate.Cfg_OffDly:
HiHiGate.Cfg_GateDly:
HiHiGate.Cfg_InpCond:
HiHiGate.Cfg_GateCond:
HiHi.Cfg_AllowShelve:
HiHi.Cfg_AllowDisable:
HiHi.Cfg_AlmMinOnT:
HiHi.Cfg_MaxShelfT:
HiHi.Cfg_Cond:
HiHi.Cfg_Tag:
Hi.Cfg_Exists:
Hi.Cfg_ResetReqd:
Hi.Cfg_AckReqd:
Hi.Cfg_Severity:
HiGate.Cfg_OnDly:
HiGate.Cfg_OffDly:
HiGate.Cfg_GateDly:
HiGate.Cfg_InpCond:
HiGate.Cfg_GateCond:
Hi.Cfg_AllowShelve:
Hi.Cfg_AllowDisable:
Hi.Cfg_AlmMinOnT:
Hi.Cfg_MaxShelfT:
Hi.Cfg_Cond:
Hi.Cfg_Tag:
Lo.Cfg_Exists:
Lo.Cfg_ResetReqd:
Lo.Cfg_AckReqd:
Lo.Cfg_Severity:
LoGate.Cfg_OnDly:
LoGate.Cfg_OffDly:
LoGate.Cfg_GateDly:
LoGate.Cfg_InpCond:
LoGate.Cfg_GateCond:
Lo.Cfg_AllowShelve:
Lo.Cfg_AllowDisable:
Lo.Cfg_AlmMinOnT:
Lo.Cfg_MaxShelfT:
Lo.Cfg_Cond:
Lo.Cfg_Tag:
LoLo.Cfg_Exists:
LoLo.Cfg_ResetReqd:
LoLo.Cfg_AckReqd:
oLo.Cfg_Severity:
LoLoGate.Cfg_OnDly:
LoLoGate.Cfg_OffDly:
LoLoGate.Cfg_GateDly:
LoLoGate.Cfg_InpCond:
LoLoGate.Cfg_GateCond:
LoLo.Cfg_AllowShelve:
LoLo.Cfg_AllowDisable:
LoLo.Cfg_AlmMinOnT:
LoLo.Cfg_MaxShelfT:
LoLo.Cfg_Cond:
LoLo.Cfg_Tag:
Fail.Cfg_Exists:
Fail.Cfg_ResetReqd:
Fail.Cfg_AckReqd:
Fail.Cfg_Severity:
FailGate.Cfg_OnDly:
FailGate.Cfg_OffDly:
FailGate.Cfg_GateDly:
FailGate.Cfg_InpCond:
FailGate.Cfg_GateCond:
Fail.Cfg_AllowShelve:
Fail.Cfg_AllowDisable:
Fail.Cfg_AlmMinOnT:
Fail.Cfg_MaxShelfT:
Fail.Cfg_Cond:
Fail.Cfg_Tag:
